/*banner*/
#banner .bannerBg{background:url('../images/hc20.png') no-repeat center center;background-size:cover;height:400px;}
@media screen and (max-width:992px) {
    #banner .bannerBg{background:url('../images/hc20_1.png') no-repeat center center;background-size:cover;height:200px;}
}
/*banner end*/

#aboutHc{padding:20px 0;}
#aboutHc>.container{padding:0;}
#aboutHc .aboutusCon{line-height:25px;text-indent:28px;font-size:14px;}
#team{padding:20px 0;}
#team>.container{padding:0;}
#team .teamCon{line-height:25px;text-indent:28px;font-size:14px;padding-bottom:15px;}
#team .teamPic .teamImg{padding-left:0;padding-right:0;}
#team .teamPic .teamImg .col-xs-6{padding-bottom:15px;}
#team .teamPic .teamImg .col-xs-6:nth-of-type(2n+1){padding-right:7px;}
#team .teamPic .teamImg .col-xs-6:nth-of-type(2n){padding-left:7px;}


