/*banner*/
#banner .bannerBg{background:url('../images/hc61.png') no-repeat center center;background-size:cover;height:400px;}
@media screen and (max-width:992px) {
    #banner .bannerBg{background:url('../images/hc61_1.png') no-repeat center center;background-size:cover;height:200px;}
}
/*banner end*/

#cerificate{padding-bottom:20px;}
#cerificate .container{padding:0;}
#cerificate .zs_font{font-size:16px;margin:20px 0 10px 0;}



/*bootstrap扩展*/
.input-group-addon {
    background-color: transparent;
    border:none;
}
#cerificate .input-group-addon.search_icon{color:#ccc;border: 1px solid #ccc;border-right:none;background-color:transparent;}
#cerificate .input-group-addon.search_font{border:none;background-color:#3366cc;color:#fff;}
#cerificate .form-control.search_input{border-left:none;border-right:none;background-color:transparent;}
#cerificate .panel-body{border:none;}
#cerificate .panel-body>h4{padding-bottom:0;margin-bottom:0;border-bottom:0;}
#cerificate .cerificate_mid{padding-top:20px;}
#cerificate .hcDian{width:10px;height:10px;-webkit-border-radius:10px;border-radius:10px;background:#ccc;display:block;position:absolute;top:50%;margin-top:-5px;left:50%;margin-left:-5px;}
#cerificate .hcDian.active{background:#3366cc;}
#cerificate .hcDian:hover{background:#3366cc;}
#cerificate .Conqh{padding-left:0;padding-right:0;height:22px;line-height:22px;margin:10px 0;}
#cerificate .Conqh>.col-md-1{padding-left:0;padding-right:0;height:22px;position:relative;}
#cerificate .cerificate_mid{padding:20px 0;}
@media screen and (max-width:992px){
    body{background:#fff;}
    #cerificate .search_con{background:#fff;padding:20px 0;}
    #cerificate .cerificate_mid{background:#f9f9f9;}
}




