/*banner*/
#banner .bannerBg{background:url('../images/hc63.png') no-repeat center center;background-size:cover;height:400px;}
@media screen and (max-width:992px) {
    #banner .bannerBg{background:url('../images/hc63_1.png') no-repeat center center;background-size:cover;height:200px;}
}
/*banner end*/
#contactus .midTitle{padding-bottom:20px;margin-bottom:0;border-bottom:1px dotted #ccc;}
#contactus .contactTit{padding-top:20px;}
#contactus .container{padding:0;}
#contactus .contactInfo>.col-md-6{padding-left:0;padding-right:0;}
#contactus .contactdet>.col-xs-12{padding-left:0;padding-right:0;}
#contactus .contactdetTit{font-size:18px;margin-bottom:10px;}
#contactus .contactdetCon{font-size:14px;line-height:25px;}
#contactus .contactCon{padding-bottom:20px;padding-top:20px;}
@media screen and (max-width: 992px){
    #contactus .contactdet>.col-xs-12{padding-left:15px;padding-right:15px;}
    #contactus .contactdetTit{text-align:center;color:#3366cc;}
    #contactus .contactCon>.col-md-1,
    #contactus .contactCon>.col-md-11{padding-left:0;padding-right:0;}
    #contactus .mapTit{text-align: center;}
    #contactus .contactTit{background:#f5f5f5;margin-bottom:0;padding-bottom:20px;}
}

#contactus .mapTit{padding-left:0;padding-right:0;}
@media screen and (max-width:992px){
    #contactus .mapTit{padding-left:15px;padding-right:15px;}
}
#contactus .mapTit>span{font-size:30px;color:#3366cc;margin-right:5px;}
#contactus .mapTit>small{font-size:16px;color:#666;position:relative;}
#contactus .mapTit>small::before{font-size:16px;content:"";position:absolute;top:-7px;left:0;width:64px;height:3px;background-color:#3366cc;}
#contactus .mapCon{margin-top:20px;}
#mapArea{height:200px;}
#mapArea1{height:200px;}
#mapArea2{height:200px;}
#mapArea3{height:200px;}
@media screen and (max-width: 992px){
    #contactus #mapArea{margin:0 15px;}
}
#contactus .contactBor{border-top:1px dotted #3366cc;border-left:1px dotted #3366cc;padding-top:20px;padding-bottom:20px;}
#contactus .RLine{border-left:1px dotted #3366cc;height:30px;}
#contactus .companyTit{background:#3366cc;color:#fff;height:30px;line-height:30px;padding-left:0;padding-right:0;}
#contactus .companyName{color:#3366cc;height:30px;line-height:30px;padding-left:10px;padding-right:0;}
#contactus .contactAddr>.col-xs-2{padding-left:0;padding-right:0;}
#contactus .contactAddr>.col-xs-10{padding-left:0;padding-right:0;}
#contactus .Headquarters{padding-top:20px;padding-bottom:20px;}
