/*banner*/
#banner .bannerBg{background:url('../images/hc55.png') no-repeat center center;background-size:cover;height:400px;}
@media screen and (max-width:992px) {
    #banner .bannerBg{background:url('../images/hc55_1.png') no-repeat center center;background-size:cover;height:200px;}
}
/*banner end*/
@media screen and (max-width:992px){
    body{background:#f5f5f5;}
    #recruit .recruitInfo{background:#fff;}
}
#recruit{padding:20px 0;}
#recruit .container{padding:0;}
#recruit .recruit_con{margin-bottom:20px;}
#recruit .recruit_con>.col-xs-12{padding:0;color:#666;}
#recruit .recruit_con .postName{font-size:18px;margin:15px 0 10px 0;color:#333;}
#recruit .recruit_con .postDesc{color:#333;margin:10px 0;}
#recruit .recruit_con .postReq{line-height:22px;/*padding-left:28px; text-indent:-22px;*/}
#recruit .recruit_con .lineH>a{color:#3366cc;}
#recruit .recruit_con .lineH{line-height:22px;}
#recruit .hcDian{width:10px;height:10px;-webkit-border-radius:10px;border-radius:10px;background:#ccc;display:block;position:absolute;top:50%;margin-top:-5px;left:50%;margin-left:-5px;}
#recruit .hcDian.active{background:#3366cc;}
#recruit .hcDian:hover{background:#3366cc;}
#recruit .Conqh{padding-left:0;padding-right:0;height:22px;line-height:22px;margin:10px 0;}
#recruit .Conqh>.col-md-1{padding-left:0;padding-right:0;height:22px;position:relative;}
#recruit .emailFont{font-size:16px;margin-top:30px;}
#recruit .emailName{background:#ff6600;height:45px;line-height:45px;font-size:16px;margin-top:10px;}
#recruit .emailName>a{background:#ff6600;color:#fff;display:block;}
@media screen and (max-width:992px){
    #recruit .recruit_con .postcol1{color:#3366cc;text-align:center;}
    #recruit .recruit_con .postcol2{color:#ff6600;text-align:center;}
    #recruit .recruit_con .postcol3{color:#33cc99;text-align:center;}
}


